{% extends "base.html" %}


{% block nombre_portada %} <h2 class="text-white">Categorías de peligro</h2> {% endblock %}

{% block descripciones %}
<div id="content-categorias">
    {% if lista_categorias %}
        <ul>
        {% for c in lista_categorias %}
            <li>
                <p>{{c}}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No hay categorías de peligro.</p>
    {% endif %}
</div>
{% endblock %}

{% block masInfo %} 
<div class="booking-form-image-wrap">
    <ul id="listacat1">
        <h4>Conoce las diferentes categorías y sus particulares criaturas</h4>
        {% if lista_categorias %}
        <ul id="listacat" class="criaturas_rc">
            {% for c in lista_categorias %}
            <li>
                <a href="{% url 'criaturas_por_categoria' c.id %}">
                    <strong>{{ c.nombre }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay categorías para las criaturas.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}