{% extends "base.html" %}

{% block nombre_portada %} <h2 class="text-white">Raza: {{ raza.nombre }}</h2> {% endblock %}

{% block descripciones %}
<div id="content-categorias">
    <!-- <h1>Categoría: {{ categoria.nombre }}</h1> -->
    <p>Nivel de Peligro: {{ raza.nivel_peligro }}</p>
    <p>Descripción: {{ raza.descripcion }}</p>

    <h2>Criaturas asociadas</h2>
    {% if criaturas %}
        <ul>
            {% for criatura in criaturas %}
                <li>
                    <strong>{{ criatura.nombre }}</strong>: {{ criatura.descripcion }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay criaturas asociadas a esta categoría.</p>
    {% endif %}
</div>
{% endblock %}

{% block masInfo %} 
<div class="booking-form-image-wrap">
    <h4>Conoce las criaturas y sus peculiaridades</h4>
    {% if criaturas %}
        <ul id="listacat" class="criaturas_rc">
            {% for criatura in criaturas %}
                <li>
                        
                    <a href="{% url 'criatura' criatura.id %}">
                        <strong>{{ criatura.nombre }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay criaturas asociadas a esta categoría.</p>
    {% endif %}
</div>
<div class="criaturas_rc5">
    <a href="{% url 'criaturas' %}">Visitar las criaturas</a>
    <br>
    <a href="{% url 'categorias' %}">Volver a categorías</a>
    <br>
    <a href="{% url 'razas' %}">Volver a razas</a>
</div> 
{% endblock %}