{% extends "base.html" %}

{% block descripciones %}
<div class="desc-criaturas">
    <h2><em>{{ criatura.nombre }}</em></h2>
    <p><strong>Descripción:</strong> {{ criatura.descripcion }}</p>
    <p><strong>Tamaño:</strong> {{ criatura.tamano }}</p>
</div>
{% endblock %}

{% block masInfo %} 
<div class="criaturas_rc">
    <p><strong>Categorías de peligro:</strong></p>
    <ul>
        {% for cat in criatura.categorias_peligro.all %}
            <li><a href="{% url 'criaturas_por_categoria' cat.id %}">{{ cat.nombre }}</a></li>
        {% endfor %}
    </ul>
    <p><strong>Raza:</strong> <a href="{% url 'criaturas_por_raza' criatura.raza.id %}" id="cr_raza">{{ criatura.raza.nombre }}</a></p>
    

    <a href="{% url 'categorias' %}">Volver a categorías</a>
    <br>
    <a href="{% url 'criaturas_por_raza' criatura.raza.id %}">Ver más criaturas de esta raza</a> <!--Utilizamos los nombres auxiliares-->
    <br>
    <a href="{% url 'razas' %}">Volver a razas</a>
</div> 
{% endblock %}