{% extends "base.html" %}
{% load static %}

{% block nombre_portada %} <h2 class="text-white">Criaturas de Harry Potter</h2> {% endblock %}

{% block descripciones %}
<div id="content-categorias">
    {% if lista_criaturas %}
        <div class="criaturas-container">
            {% for cr in lista_criaturas %}
                <div class="criatura-item">
                    <p><a href="{% url 'criatura' cr.id %}">{{ cr.nombre }}</a></p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay criaturas.</p>
    {% endif %}
</div>
{% endblock %}

{% block masInfo %} 
<div class="booking-form-image-wrap">
    <img src="{% static 'images/fondocriaturas.jpg' %}" alt="", id="fondocriaturas">
</div>
{% endblock %}