{% extends "base.html" %}
{% load static %}

{% block nombre_portada %} <h2 class="text-white">Razas</h2> {% endblock %}

{% block descripciones %}
<div id="content-categorias">
    {% if lista_razas %}
        <ul>
        {% for r in lista_razas %}
            <li>
                <p>{{r}}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No hay razas para las criaturas.</p>
    {% endif %}
</div>
{% endblock %}

{% block masInfo %} 
<div class="booking-form-image-wrap">
    <h4>Conoce las diferentes razas y sus particulares criaturas</h4>
    {% if lista_razas %}
    <ul id="listacat" class="criaturas_rc">
        {% for raza in lista_razas %}
            <li><strong><a href="{% url 'criaturas_por_raza' raza.id %}">{{ raza.nombre }}</a></strong></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay razas para las criaturas.</p>
{% endif %}
</div>
{% endblock %}